.grid-container {
	align-content: center;
	display: grid;
	grid-gap: 50px;
}

.title {
	text-align: center;
}

.basket {
	position: relative;
	align-content: left;
	padding-right: 120px;
}

.pos-grid {
	position: absolute;
	padding-left: 150px;
}

.row {
	padding-left: 0px;
	padding-right 0px;
}

