<!DOCTYPE html>
<html>
	<head>
		<title>Point Of Sale</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/a.css') }}"> 
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
	</head>
	<body>
		<h1 class="title">Point Of Sale</h1>
		<aside class="menu sticky">
			<p class="menu-label">Items in basket</p>
			<ul id="menu" class"menu-list">
				{% if basket|length %}
					{% for item in basket %}
						<li>{{item[0][1]}} x{{item[1]}}</li>
					{% endfor %}
				{% else %}
					<li>No items in basket</li>
				{% endif %}
			</ul>
			{% if price %}
				<p>Price: {{ price }}</p>
			{% endif %}
			<a href="{{ url_for('SendTransaction') }}">Send Transaction</a><br>
			<a href="{{ url_for('ClearBasket') }}">Clear Basket</a>
		</aside>
		<section class="section">
			<div class="container">
				{% for row in products|batch(3) %}
				<div class="columns">
					<div class="column">
						{% for product in row %}
						<a class="button is-info" href="{{ url_for('AddToBasket', prid=product[0] )}}">
							{{product[1]}}
						</a>	
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</section>
	</body>
</html>
