<!DOCTYPE html>
<html>
	<head>
		<title>Point of Sale Terminal</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
	</head>
	<body>
		<h1>Point of Sale Terminal</h1>
		<a href="/">Home</a>
		<aside class="menu" style="height: 100%;">
			<ul>
				{% if basket|length %}
					{% for item in basket %}
						<a class="menu-label" href="{{ url_for('RemoveItem', item=item[0][0]) }}">
							{{ item[0][1] }} x{{ item[1]}}
						</a>
						<br>
					{% endfor %}
				<p>Price: {{ price }}</p>
				<a href="{{ url_for('ClearBasket') }}">Clear Basket</a>
				<br>
				<a href="{{ url_for('SendTransaction') }}">Send Transaction</a>
				{% else %}
				<p class="menu-label">No items in basket</p>	
				{% endif %}
			</ul>
		</aside>
		<div class="main" style="align-content: right;">
			<section class="section">
				{% for row in products|batch(3) %}
					<div class="columns">
						<div class="column">
							{% for product in row %}
							 <a class="button is-info" href="{{ url_for('AddToBasket', prid=product[0]) }}">
								{{product[1]}} 
							 </a>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</section>
		</div>
	</body>
</html>
