{% set productinterface = productinterface() %}
{% set product = productinterface.SearchForProduct(product_id) %}
<!DOCTYPE html>
<html>
	<head>
		<title>Edit Product: {{ product[1] }}</title>
	</head>
	<body>
		<h1>Edit {{ product[1] }}</h1>
		<a href="{{ url_for('DeleteProduct', product_id=product[0]) }}">Delete Product</a>
		<form action="{{ url_for('EditProduct', product_id=product[0]) }}" method="POST">
			<h4>Product Name</h4>
			<input type="text" name="prod_name" />
			<h4>Product Price</h4>
			<input type="text" name="prod_price" />
			<input type="submit" value="Submit">
		</form>
			<a href="{{ url_for('Main') }}">Home</a>
	</body>
</html>
